<div>
	<h2 class="text-center">Top Predictions</h2>
	{{#if posts}}
		<ul class="mt-5 list-group">
			{{#each posts}}
				<li class="list-group-item m-2 lead">{{this.text}}</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="lead text-center text-muted">No Available Predictions</p>
	{{/if}}
</div>