<div>
	<h2 class="text-center">New Post</h2>
	<form action="/newpost" method="POST">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="New Team Here..." name="text" />
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-block btn-primary" value="New Post" />
		</div>
	</form>
</div>